@import '~antd/dist/antd.css';
.App {
    align-items: center;
    background-color: #2c2e36;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-height:100%;
    width: 100%;
}

.App-header {
    background-color: #2c2e36;
    display: flex;
    flex: 1;
    min-height: 10vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.App-header h1 {
    color: white;
}

.App-body {

    display: flex;
    flex:10;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}